body {
    background-color: purple;
    color: silver;
    font-family: "Georgia", Serif;
}

p {
    text-indent: 5vmin;
}

a {
    color: goldenrod;
}

a:hover {
    color: gold;
}

button {
    padding: 0.5%;

    font-family: "Georgia", Serif;
    font-weight: bold;
    font-size: 3vmin;

    color: purple;
    background-color: goldenrod;
}

button:hover {
    background-color: gold;
}

.row {
    margin-left: 25%;
}

.column {
    float: left;
    width: 33%;
    margin-right: 5%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.centered {
    text-align: center;
    align-items: center;
}

.tooltip {
    display: inline;
    border-bottom: 1px dotted;
}

.tooltiptext {
    display: none;
}

.tooltip:hover .tooltiptext {
    display: inline;
    position: absolute;
    top: 7%;
    left: 22%;
    width: 15%;

    font-size: 1.75vmin;
    font-style: italic;
    text-align: left;
}

#canvas {
    display: none;
}